/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 16, 2025, 1:54:53 PM
    Author     : admin
*/

.Main{
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-alignment: CENTER;
    -fx-spacing:5;
    
}
.Subject{
    -fx-font-size:40;
    -fx-font-weight:bold;
    -fx-fill:red;
    -fx-stroke:gold;
    -fx-stroke-width: 3;
     -fx-alignment: CENTER;
}
.Button{
   -fx-background-color:darkblue;
   -fx-text-fill: white;
   -fx-font-size:16;
   -fx-pref-width:150; 
   -fx-padding: 5;
}